In [ ]:
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore')

In [ ]:
# Reading csv
df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5974 entries, 0 to 5973
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    5974 non-null   int64
 1   V1      5974 non-null   float64
 2   V2      5974 non-null   float64
 3   V3      5974 non-null   float64
 4   V4      5974 non-null   float64
 5   V5      5974 non-null   float64
 6   V6      5974 non-null   float64
 7   V7      5974 non-null   float64
 8   V8      5974 non-null   float64
 9   V9      5974 non-null   float64
 10  V10     5974 non-null   float64
 11  V11     5974 non-null   float64
 12  V12     5974 non-null   float64
 13  V13     5974 non-null   float64
 14  V14     5974 non-null   float64
 15  V15     5974 non-null   float64
 16  V16     5974 non-null   float64
 17  V17     5974 non-null   float64
 18  V18     5973 non-null   float64
 19  V19     5973 non-null   float64
 20  V20     5973 non-null   float64
 21  V21     5973 non-null   float64
 22  V22     5973 non-null   float64
 23  V23     5973 non-null   float64
 24  V24     5973 non-null   float64
 25  V25     5973 non-null   float64
 26  V26     5973 non-null   float64
 27  V27     5973 non-null   float64
 28  V28     5973 non-null   float64
 29  Amount  5973 non-null   float64
 30  Class   5973 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 1.4 MB

In [ ]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,5974.000000,...,5973.000000,5973.000000,5973.000000,5973.000000,5973.000000,5973.000000,5973.000000,5973.000000,5973.000000,5973.000000
mean,2677.615501,-0.266159,0.285505,0.844231,0.104200,0.000709,0.194948,0.018324,-0.039006,0.396916,...,-0.043098,-0.161548,-0.036483,0.028960,0.089873,-0.040197,0.025234,0.006116,65.061811,0.000502
std,1765.025532,1.395405,1.208867,1.031448,1.442339,1.185900,1.365525,1.059870,1.304005,1.047749,...,0.883330,0.646380,0.373210,0.619810,0.407680,0.488284,0.364482,0.265131,192.490314,0.022407
min,0.000000,-12.168192,-15.732974,-12.389545,-4.657545,-32.092129,-7.465603,-12.968670,-23.632502,-3.336805,...,-11.468435,-8.454599,-7.996811,-2.512377,-2.322906,-1.338556,-7.976100,-2.909294,0.000000,0.000000
25%,1162.250000,-1.015749,-0.280054,0.295701,-0.839417,-0.609206,-0.677720,-0.492968,-0.189736,-0.264280,...,-0.260507,-0.594625,-0.187108,-0.350226,-0.152744,-0.399334,-0.049681,-0.017776,4.450000,0.000000
50%,2537.000000,-0.420703,0.346083,0.882882,0.161767,-0.083983,-0.142606,0.041761,0.037831,0.360826,...,-0.111701,-0.177197,-0.046772,0.094946,0.106290,-0.079583,0.015976,0.019417,15.620000,0.000000
75%,3781.750000,1.115402,0.941548,1.504158,1.071412,0.441406,0.605784,0.566306,0.343067,0.961662,...,0.059809,0.273148,0.088154,0.435670,0.355157,0.245560,0.155281,0.082701,56.660000,0.000000
max,6645.000000,1.685314,7.467017,4.101716,6.013346,10.658654,21.393069,34.303177,3.877662,9.272376,...,22.580675,4.393846,4.095021,3.200201,1.972515,3.463246,3.852046,4.860769,7712.430000,1.000000

In [ ]:
df.shape

(5974, 31)

In [ ]:
df.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
df['Class'].value_counts(normalize=True)*100

0.0    99.949774
1.0     0.050226
Name: Class, dtype: float64

In [ ]:
df['Class'].value_counts()

0.0    5970
1.0       3
Name: Class, dtype: int64

In [ ]:
good = df[df['Class'] == 0]
fraud = df[df['Class'] == 1]

In [ ]:
gsamp = good.sample(n = 492)

In [ ]:
ndf = pd.concat([gsamp, fraud], axis = 0)

In [ ]:
ndf.shape

(495, 31)

In [ ]:
ndf['Class'].value_counts()

0.0    492
1.0      3
Name: Class, dtype: int64

In [ ]:
ndf.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
ndf.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,...,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000
mean,2703.058586,-0.279492,0.289650,0.778592,0.139168,-0.105938,0.156163,-0.048393,-0.077417,0.460035,...,0.024924,-0.168489,-0.012787,0.010670,0.092989,-0.020080,0.016230,0.005585,66.484707,0.006061
std,1792.350664,1.510594,1.260106,1.055891,1.438999,1.016949,1.281181,0.890396,1.592926,0.984432,...,1.366624,0.734272,0.406099,0.602971,0.436408,0.474120,0.357518,0.303193,146.377267,0.077692
min,10.000000,-9.092667,-7.878057,-4.797899,-3.650993,-4.815889,-1.889240,-8.058865,-23.022348,-2.770089,...,-3.509804,-8.454599,-2.712276,-2.493545,-1.577384,-1.115516,-3.256365,-1.648553,0.000000,0.000000
25%,1126.500000,-1.060587,-0.358089,0.253512,-0.743560,-0.751048,-0.672877,-0.493763,-0.171878,-0.206150,...,-0.249617,-0.586119,-0.183452,-0.349710,-0.158152,-0.373261,-0.049978,-0.014680,4.755000,0.000000
50%,2509.000000,-0.415496,0.346061,0.810256,0.198864,-0.153167,-0.194042,0.046899,0.030542,0.404509,...,-0.109519,-0.189793,-0.057165,0.057628,0.114822,-0.019119,0.015358,0.019201,16.900000,0.000000
75%,3855.000000,1.132713,0.929823,1.345454,1.057472,0.363411,0.586133,0.499851,0.321567,1.044696,...,0.057136,0.250886,0.102529,0.408263,0.366234,0.279871,0.118435,0.069438,60.565000,0.000000
max,6634.000000,1.531632,7.467017,3.727984,3.997906,4.151736,4.974130,4.915489,3.007835,5.697423,...,22.580675,1.484807,3.575743,1.108440,1.799819,1.192481,1.720707,4.556697,1620.530000,1.000000

In [ ]:
# Splitting features from target variable

X = ndf.iloc[:,1:30]
y = ndf.iloc[:,-1]

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import classification_report, confusion_matrix, cohen_kappa_score

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(X,y, test_size=0.3, random_state=100)

In [ ]:
print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

(346, 29) (149, 29) (346,) (149,)

In [ ]:
# Initialising the model
from sklearn.linear_model import LogisticRegression

# Defining the model
lr = LogisticRegression(random_state=100)

# Fitting the model
model_lr = lr.fit(xtrain,ytrain)

In [ ]:
# Printing model performance
y_pred_train_lr = model_lr.predict(xtrain)

print('Logistic Regression for Train')
print(classification_report(ytrain, y_pred_train_lr))
print('Confusion Matrix \n',confusion_matrix(ytrain, y_pred_train_lr))
print('\n Cohen Kappa Score \n',cohen_kappa_score(ytrain, y_pred_train_lr))

Logistic Regression for Train
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00       343
         1.0       1.00      1.00      1.00         3

    accuracy                           1.00       346
   macro avg       1.00      1.00      1.00       346
weighted avg       1.00      1.00      1.00       346

Confusion Matrix
 [[343   0]
 [  0   3]]

 Cohen Kappa Score
 1.0

In [ ]:
# Printing model performance
y_pred_test_lr = model_lr.predict(xtest)

print('Logistic Regression for Test data')
print(classification_report(ytest, y_pred_test_lr))
print('Confusion Matrix \n',confusion_matrix(ytest, y_pred_test_lr))
print('\n Cohen Kappa Score \n',cohen_kappa_score(ytest, y_pred_test_lr))

Logistic Regression for Test data
              precision    recall  f1-score   support

         0.0       1.00      0.99      1.00       149
         1.0       0.00      0.00      0.00         0

    accuracy                           0.99       149
   macro avg       0.50      0.50      0.50       149
weighted avg       1.00      0.99      1.00       149

Confusion Matrix
 [[148   1]
 [  0   0]]

 Cohen Kappa Score
 0.0

In [ ]:
print('Cross Validation Score for Logistic Regression', cross_val_score(lr, X, y, cv = 30, scoring='accuracy' ).mean())

Cross Validation Score for Logistic Regression 0.9920343137254902

In [ ]:
#Hence by using logistic regression we had performed task with accurate score 0.9920